aiogram>=3.13,<4
pydantic>=2.6,<3
pydantic-settings>=2.3,<3
python-dotenv>=1.0,<2
SQLAlchemy>=2.0.31,<3
asyncpg>=0.30,<1
alembic>=1.13,<2
redis>=5,<6
APScheduler==3.11.0
uvloop>=0.19,<1 ; platform_system != "Windows"
